<footer class="Footer">
  <div class="container">
    <%= link_to "GREEN POST", root_path, class: "Footer__logo" %>

    <p class="Footer__copyright">
      Copyright © GREEN POST <%= Time.current.year %> All rights reserved
    </p>
  </div>
</footer>