.CommentForm {
  margin: 32px auto;
  padding: 24px;

  &__button {
    color: $text-black;
    font-size: 12px;
    line-height: 18px;
    @include primary-button
  }
}

.CommentList {
  margin: 32px auto;
  padding: 24px;

  &__title {
    border-bottom: 1px solid $border-light-gray;
    padding-bottom: 8px;
  }

  &__item {
    padding: 16px;
    border-bottom: 1px solid $border-light-gray;
  }

  &__bottom-line {
    font-size: 14px;
    text-align: right;

    > span {
      font-size: 12px;
      margin: 0 12px;
    }
  }
}