.Footer {
  align-items: center;
  background-color: $background-beige;
  display: flex;
  height: 465px;

  @include xs-device-or-less {
    height: 385px;
  }

  > div {
    margin-top: 100px;

    @include xs-device-or-less {
      margin-top: 0;
    }
  }

  &__logo {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: $primary-green;

    @include xs-device-or-less {
      font-size: 20px;
    }
  }

  &__copyright {
    color: $text-black;
    font-family: $font-Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 0;
  }
}