.PostsContainer {
  margin-bottom: 260px;
  padding-top: 40px;

  @include sm-device-or-less {
    margin-bottom: 200px;
  }

  @include xs-device-or-less {
    margin-bottom: 100px;
    padding-top: 24px;
  }
}

.PostSectionTitle {
  font-size: 20px;

  @include xs-device-or-less {
    font-size: 16px;
  }
}

.PostList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @include sm-device-or-less {
    gap: 20px;
  }

  @include xs-device-or-less {
    gap: 16px;
  }
}

.Post {
  background: $background-beige;
  border-radius: 8px;
  width: calc((100% - 64px) / 3);

  @include sm-device-or-less {
    width: calc((100% - 20px) / 2);
  }

  @include xs-device-or-less {
    width: 100%;
  }

  &__image {
    aspect-ratio: 16 / 9;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
    width: 100%;
  }

  &__name {
    @include room-name;
  }

  &__content {
    @include room-content;
  }

  &__link {
    @include basic-button;
    @include primary-button;

    font-size: 16px;
    line-height: 58px;
    padding: 0 20px;
    text-align: center;

    @include md-device-or-less {
      width: 100%;
    }
  }
}

.PostBodyWrapper {
  padding: 40px 24px;

  @include sm-device-or-less {
    padding: 20px;
  }

  @include sm-device-or-less {
    padding: 16px;
  }
}