.PostsContainer {
  margin-bottom: 260px;
  padding-top: 40px;

  @include sm-device-or-less {
    margin-bottom: 200px;
  }

  @include xs-device-or-less {
    margin-bottom: 100px;
    padding-top: 24px;
  }
}

.PostSectionTitle {
  font-size: 20px;

  @include xs-device-or-less {
    font-size: 16px;
  }
}

.PostList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @include sm-device-or-less {
    gap: 20px;
  }

  @include xs-device-or-less {
    gap: 16px;
  }
}

.Post {
  background: $background-beige;
  border-radius: 8px;
  width: calc((100% - 64px) / 3);

  @include sm-device-or-less {
    width: calc((100% - 20px) / 2);
  }

  @include xs-device-or-less {
    width: 100%;
  }

  &__image {
    aspect-ratio: 16 / 9;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
    width: 100%;
  }

  &__title {
    @include post-title;
  }

  &__content {
    @include post-content;
  }

  &__link {
    @include basic-button;
    @include primary-button;

    font-size: 16px;
    line-height: 58px;
    padding: 0 20px;
    text-align: center;

    @include md-device-or-less {
      width: 100%;
    }
  }
}

.PostBodyWrapper {
  padding: 24px;

  @include sm-device-or-less {
    padding: 20px;
  }

  @include sm-device-or-less {
    padding: 16px;
  }
}


// ---------------- PostsForm ----------------
.PostsForm {
  &__input-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include xs-device-or-less {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__label {
    color: $text-black;
    font-size: 16px;
    line-height: 26px;
    width: 33%;
  }

  &__input {
    width: 66%;

    @include xs-device-or-less {
      width: 100%
    }
  }

  &__button {
    @include basic-button;

    font-size: 14px;
    font-weight: 700;
    height: 45px;
    line-height: 21px;
    width: 100%;

    &--submit {
      @include primary-button;

      margin-bottom: 16px
    }

    &--cancel {
      @include secondary-button;

      color: $text-black;
    }
  }
}


// ---------------- PostDetails ----------------
.PostDetailsContainer {
  margin-bottom: 260px;
  padding-top: 40px;

  @include sm-device-or-less {
    margin-bottom: 200px;
  }

  @include xs-device-or-less {
    margin-bottom: 100px;
  }
}

.PostDetailsHeader {
  display: flex;
  justify-content: space-between;

  &__link {
    color: $link-blue;
    display: flex;
    gap: 8px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    width: fit-content;
  }
}

.PostDetails {
  align-items: flex-start;
  display: flex;
  gap: 32px;

  @include sm-device-or-less {
    flex-direction: column;
    gap: 20px;
  }

  &__image {
    object-fit: contain;
    max-width: 704px;
    max-height: 540px;
    border-radius: 8px;

    @include sm-device-or-less {
      width: 100%;
    }
  }

  &__title {
    @include post-title;
    font-size: 24px;
    line-height: 36px;
    margin: 16px 0 8px 0;

    @include sm-device-or-less {
      font-size: 20px;
      line-height: 32px;
    }

    @include xs-device-or-less {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__content {
    @include post-content;

    display: block;
  }
}

.PostDetailsBody {

  &__title-and-content {
    margin-bottom: 8px;

    @include xs-device-or-less {
      margin-bottom: 0;
    }
  }
}


// ---------------- MyPosts ----------------
.MyPostsContainer {
  margin-top: 40px;
  margin-bottom: 260px;
}

.MyPostsTable {
  @include index-table;

  &__delete {
    color: $text-gray;
  }
}