<div class="container PostsContainer">
  <h2 class="PostSectionTitle">
    みんなの新着投稿画像
  </h2>

  <ul class="PostList">
    <% @posts.each do |post| %>
      <li class="Post">
        <%= image_tag post_image(post), alt: "写真", class: "Post__image" %>
        <div class="PostBodyWrapper">
          <p class="Post__name">
            <%= post.title %>
          </p>

          <p class="Post__content">
            <%= post.content %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>