$white: #fff;
$text-black: #151A22;
$primary-green: #65A512;
$primary-red: #ff4949;
$link-blue: #0071c1;
$primary-blue: #2962ff;
$background-beige: #fff8f1;
$background-gray: #dfe2e6;
$border-gray: #dfe2e6;
$border-light-gray: #e0e0e0;
$text-gray: #6a6a6a;
$post-text-gray: #767e86;